<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="footer" class="winwin-footer" style="top: initial; ">
    <hr class="met_hr" style="margin-top:0px;">
        <div class="bottom">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="bottom_left">
                        <p>微信公众号浏览器</p>
                        <div class="powered_by_metinfo">Powered&nbsp;by&nbsp;tao975
                        </div>
                        <div class="powered_by_metinfo">
                            页面样式来源&nbsp;<a href="http://www.metinfo.cn/product/showproduct.php?lang=cn&id=1722&demo=1" style="text-decoration : underline;">MetInfo</a>，
                            内容来源&nbsp;<a href="http://weixin.sogou.com/" style="text-decoration : underline;">搜狗微信</a>，
                            如有侵权请联系删除
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<br/>

</body>
</html>