.news-box {
     min-height: 400px;
     font-size: 14px;
 }

.news-box p {
    margin:0;
}
.news-box dl {
    margin:0;
}


ol, ul {
    list-style-type: none;
}

.news-list2 li {
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    zoom: 1;
}

.news-list2 li .gzh-box2 {
    zoom: 1;
}

 .img-box {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 58px;
    height: 58px;
    border-radius: 30px;
    margin-bottom: 7px;
    overflow: hidden;
}

 .txt-box {
    float: left;
    width: 50%;
    line-height: 24px;
}

.news-list2 li .txt-box .tit {
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
}

.news-list2 li .txt-box .info {
    color: #888;
}

.news-list2 li .ew-pop {
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 1;
}

.news-list2 li dl {
    clear: both;
    overflow: hidden;
    zoom: 1;
    line-height: 22px;
    padding-top: 7px;
}

.news-list2 li dt {
    float: left;
    color: #888;
}

em {
    color: #00a06a;
    font-style: normal;
}

.gridly {
    position: relative;
    width: 100%;
    height: auto;
    min-height:300px;
    z-index: 1;
}

.pm_div {
    width: 65px;
    height: 100px;
    text-align: center;
    margin: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    float: left;
}

.pm_div:hover
{
    background-color:#eae9e9;
    color: #fff;
}

.pm_img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 5px;
}

.pm_name {
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
}

.gbin1-list {
    list-style: none;
    padding:0;
    margin:0;
}

.gbin1-list li {
    float: left;
}

.unfollow-btn {
    width: 60px;
    height: 28px;
    border: 0;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 2px;
    color: #fff;
    background-color: #2bc126;
    border-radius: 5px;
}

.follow-btn {
    width: 60px;
    height: 28px;
    border: 0;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 2px;
    color: #fff;
    background-color: #3ac8f3;
    border-radius: 5px;
}

.check {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.uncheck {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}

.add_type {
    font-size: 15px;
    color: #767b7f;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
}

.type_div {
    border-bottom: 2px solid #f2f2f2;
}

.type_name {
    font-size: 15px;
    color: #767b7f;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}